// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  color: white;
  text-align: center;
  background-image: url("https://media.giphy.com/media/d2Z1HtgW9mFDnYac/giphy.gif");
}
